/* line 3, ../sass/style.scss */
* {
  box-sizing: border-box;
  font-family: "Avenir Next";
}

/* line 7, ../sass/style.scss */
body {
  font-size: 62.5%;
}

/* line 10, ../sass/style.scss */
.clear-fix {
  clear: left;
  clear: right;
}

/* line 14, ../sass/style.scss */
.main {
  width: 1024px;
  margin: 0 auto;
}

/* line 18, ../sass/style.scss */
.main .left-part {
  float: left;
  width: 25%;
  text-align: center;
}

/* line 24, ../sass/style.scss */
.main .right-part {
  float: left;
  width: 70%;
  margin-top: 0px;
}

/* line 30, ../sass/style.scss */
.slide div {
  float: right;
  clear: right;
  padding: 7px 5px;
}

/* line 35, ../sass/style.scss */
.slide:after {
  clear: right;
}

/* line 38, ../sass/style.scss */
.slide {
  padding-top: 150px;
  padding-bottom: 100px;
  background-image: url("/images/cakes.jpg");
}

/* line 44, ../sass/style.scss */
.slide .bg-black {
  color: white;
}

/* line 47, ../sass/style.scss */
.bg-white {
  background-color: white;
}

/* line 50, ../sass/style.scss */
.bg-black {
  background-color: black;
}

/* line 54, ../sass/style.scss */
.left-part img {
  height: 70px;
  width: 45%;
  margin: 10px auto;
}

/* line 60, ../sass/style.scss */
.main .nav {
  list-style: none;
  margin-left: 52px;
  color: lightblue;
  padding-left: 0px;
  text-align: left;
}

/* line 68, ../sass/style.scss */
.main .nav li {
  width: 100%;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  color: #00A48E;
}

/* line 78, ../sass/style.scss */
button {
  color: lightblue;
}

/* line 82, ../sass/style.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 87, ../sass/style.scss */
.slide-toggle {
  color: #00A48E;
}

/* line 91, ../sass/style.scss */
.slide-toggle li {
  float: right;
  width: 25%;
  background-color: lightblue;
  border-right: 1px solid;
}
/* line 96, ../sass/style.scss */
.slide-toggle li header {
  font-size: 20px;
  margin: 20px;
}
/* line 100, ../sass/style.scss */
.slide-toggle li .content {
  font-size: 15px;
  margin: 20px;
}

/* line 113, ../sass/style.scss */
.email {
  border-top: 1px dashed #E5E5E5;
  border-bottom: 1px dashed #E5E5E5;
  margin-top: 130px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
}
/* line 120, ../sass/style.scss */
.email form {
  display: inline-block;
}
/* line 123, ../sass/style.scss */
.email div {
  display: inline-block;
  padding-left: 40px;
  width: 68%;
  padding-right: 300px;
}

/* line 130, ../sass/style.scss */
.detail {
  margin-top: 50px;
}

/* line 133, ../sass/style.scss */
.detail div {
  box-sizing: border-box;
  width: 25%;
  padding-right: 1%;
  float: left;
}

/* line 142, ../sass/style.scss */
.detail div img {
  width: 80%;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
}

/* line 149, ../sass/style.scss */
.detail div header {
  color: #00A48E;
  width: 80%;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
  margin: 20px;
}

/* line 160, ../sass/style.scss */
.detail div .content {
  width: 80%;
  margin: 10px auto;
  display: block;
  box-sizing: border-box;
  margin: 20px;
}

/* line 168, ../sass/style.scss */
.link-section {
  margin-top: 20px;
}
/* line 170, ../sass/style.scss */
.link-section header {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 173, ../sass/style.scss */
.link-section header span {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 179, ../sass/style.scss */
.link-section header:after {
  content: "";
  border: 1px dashed #E5E5E5;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 186, ../sass/style.scss */
.link-section button {
  display: block;
  margin: 5px auto;
}
